# local installed dependenies
node_modules/
dist/

# local build
wwwroot/


# local development
nodemon.json
jest.config.js
jest.e2e.config.js

# database development
data/ 
migrations/
create_todos_db.sql
knexfile.js

# environment variables
.env
.env.template
.env.test

# tools configuration
.prettierrc

# project info
README.md


