# Ollama
LLM_PROVIDER=ollama
LL_ENDPOINT=http://localhost:11434/v1
LLM_API_KEY=nonecesitasapikey
LLM_MODEL=llama3.2

# Docker Model Runner
# LLM_PROVIDER=drm
# LL_ENDPOINT=http://localhost:12434/engines/v1
# LLM_API_KEY=nonecesitasapikey
# LLM_MODEL=ai/llama3.2

# GitHub Models
# LLM_PROVIDER=ollama
# LL_ENDPOINT=http://localhost:11434
# LLM_API_KEY=nonecesitasapikey

# LLM Studio
# LLM_PROVIDER=ollama
# LL_ENDPOINT=http://localhost:11434
# LLM_API_KEY=nonecesitasapikey

# Foundry Local
# LLM_PROVIDER=ollama
# LL_ENDPOINT=http://localhost:11434
# LLM_API_KEY=nonecesitasapikey
