global:
  scrape_interval: 15s

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]

  - job_name: "web"
    file_sd_configs:
      - files:
          - "web.json"

  - job_name: "batch"
    file_sd_configs:
      - files:
          - "batch.json"
    relabel_configs:
      - source_labels: [runtime]
        regex: container
        target_label: runtime
        replacement: docker
