# Copia este archivo a .env y deja activo solo el bloque de la demo que vayas a ejecutar.

# Demo 1A - 01_primer_prompt.py con Ollama local
# Mas informacion: https://docs.ollama.com/api
# LLM_PROVIDER=ollama
# LLM_ENDPOINT=http://localhost:11434/v1
# LLM_API_KEY=nonecesitasapikey
# LLM_MODEL=gemma4:e2b

# Demo 1B - 01_primer_prompt.py con Ollama en la nube
# Mas informacion: https://ollama.com/
# LLM_PROVIDER=ollama
# LLM_ENDPOINT=https://ollama.com/api
# LLM_API_KEY=tu_api_key
# LLM_MODEL=gemma4:31b-cloud

# Demo 2 - 02_prompt_engineering.py con GitHub Models
# Mas informacion: https://docs.github.com/en/github-models
LLM_PROVIDER=github
LLM_ENDPOINT=https://models.github.ai/inference
LLM_API_KEY=github_pat_xxxxxxxxxxxxxxxxxxxx
LLM_MODEL=openai/o4-mini

# Demo 3 - 03_mi_primer_agente.py con GitHub Models
# Mas informacion: https://docs.github.com/en/github-models
# LLM_PROVIDER=github
# LLM_ENDPOINT=https://models.github.ai/inference
# LLM_API_KEY=github_pat_xxxxxxxxxxxxxxxxxxxx
# LLM_MODEL=openai/o4-mini

# Demo 4 - 04_bonus_rag.py con GitHub Models y Qdrant
# Mas informacion GitHub Models: https://docs.github.com/en/github-models
# Mas informacion Qdrant: https://qdrant.tech/documentation/quickstart/
# LLM_PROVIDER=github
# LLM_ENDPOINT=https://models.github.ai/inference
# LLM_API_KEY=github_pat_xxxxxxxxxxxxxxxxxxxx
# LLM_MODEL=openai/o4-mini
# LLM_MODEL_EMBEDDINGS=openai/text-embedding-3-large
# QDRANT_URL=http://localhost:6333
