# Ollama
LLM_PROVIDER=ollama
LL_ENDPOINT=http://localhost:11434
LLM_API_KEY=nonecesitasapikey

# # Docker Model Runner
# LLM_PROVIDER=ollama
# LL_ENDPOINT=http://localhost:11434
# LLM_API_KEY=nonecesitasapikey

# # GitHub Models
# LLM_PROVIDER=ollama
# LL_ENDPOINT=http://localhost:11434
# LLM_API_KEY=nonecesitasapikey

# # LLM Studio
# LLM_PROVIDER=ollama
# LL_ENDPOINT=http://localhost:11434
# LLM_API_KEY=nonecesitasapikey

# # Foundry Local
# LLM_PROVIDER=ollama
# LL_ENDPOINT=http://localhost:11434
# LLM_API_KEY=nonecesitasapikey